*.java linguist-language=Java
*.md linguist-language=Java
*.scala linguist-language=Java
*.xml linguist-language=Java
*.js linguist-language=Java
*.vue linguist-language=Java
*.html linguist-language=JavaScript