p{
	text-indent: 2em;
}
li p{
	margin-left: -2rem;
}
ul.vector-cal{
	list-style: disc;
}
.img-cap{
	text-indent: 0;
	margin: 0;
	text-align: left;
}
.img-cap2{
	text-align: center;
	font-size: 80%;
	font-weight: bold;
}
.task{
	font-size: 110%;
}
.p-code{
	margin-left: 4rem;
	text-indent: 0;
}
.answer{
	display: none;
}
.program{
	display: none;
	position: absolute;
	top:5rem;
	left: 30rem;
	background: lightgrey;
	color:palevioletred;
}
.pro-text textarea{
	width:20rem;
	height: 20rem;
}
#pro-result{
	width:20rem;
	height: 10rem;
	background: #040505;
}
.item{
	width: 12.5rem;
	height: 12.5rem;
}
.kdetails{
	display: none;
}
/* 滚动的导航 */
.hnav{
	
	height: 50px;
	line-height: 50px;
	
	font-size: 30px;
	font-weight: 700;
}
/* 固定在顶部的导航 */
.fixedNav{
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	z-index:10000;
	_position:absolute;
	_top:expression(eval(document.documentElement.scrollTop));
}
/* 边栏导航 */
#right_nav{
	width:80px;
	position: fixed;
	bottom:60px;
	right: 5%;
	display: none;
	border-radius: 10px;
	overflow: hidden;
	background: #eaeaea;
	box-shadow: 0 0 15px 0 rgba(50,50,50,0.2);
}
#right_nav ul{
	list-style: none;
	padding: 0;
}
#right_nav ul li{
	padding: 15px;
	width:100%;
	height: auto;
	list-style:none;
	font-size:12px;
	text-align: center;
	position: relative;
	cursor:pointer;
	padding: 10px 0;
	background: #EAEAEA;
	color:#c00;
	margin-bottom: 1px;
}
#right_nav ul li.last{
	background: #444;
	color: #fff;
	margin-bottom: 0;
}
#right_nav ul li.active{
	background: #ff4d4d;
	color: #fff;
	display: block;
}
#right_nav ul li.hover{
	background: #ff3333;
	color: #fff;
	display: block;
}